# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Rider
.idea/

# Other
*.log
*.vsidx


/.vs/Hang_Man4/FileContentIndex/10a61147-e075-4745-8375-b4e08b263343.vsidx
