################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hang_Man4/FileContentIndex/10a61147-e075-4745-8375-b4e08b263343.vsidx
